.exchanging-expired-module  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  &__actions  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 40px;


    p {
      color: var(--error);
      text-align: center;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      max-width: 416px;
    }
  }
}

.exchanging--expired .exchanging-module {
  min-height: 667px;
}

@media (max-width: 768px) {
  .exchanging--expired .exchanging-module {
    min-height: auto;
  }

  .exchanging-expired-module {
    margin-top: 24px;

    img {
      max-width: 153px;
    }

    &__actions {
      margin-top: 25px;
      padding-bottom: 2px;

      p {
        font-size: rem(14);
        line-height: lh(16, 14);
        padding: 7px 19px;
        border-radius: 5px;
        border: 1px solid var(--error);
        background: rgba(255, 74, 74, 0.20);
      }

      .primery-btn {
        padding: 7px 46px;
        font-size: rem(16);
        line-height: lh(24, 16);
      }
    }
  }
}