include ../../components/btn/btn
include ../../components/tooltip/tooltip
include ../../components/input-area/input-area

.swap-module.swap-module-full
  .swap-module__lbl Swap Details

  .swap-module__head 
    .swap-module__tabs 
      ul 
        li 
          button(type="button").active Variable rate
        li 
          button(type="button") Fixed rate
        li 
          button(type="button") 
            | Anonymous Swap
            +tooltip


    .rate 1 ETH ≈ 0.0618 BTC

  form(action="#" name="swap-cryptocur").swap-module__form
    .swap-module__cryptocols
      .cryptocur
        .cryptocur__preview 
          .cryptocur__preview-logo 
            img(src="img/svg/btc.svg", alt="#" width="173" height="143")

          .cryptocur__preview-info 
            span YOU SEND
            strong BTC
            small Bitcoin

            .lbl Bitcoin network



      button(type="button" aria-label="Replace currencies").swap-module__replace-btn
        img(src="img/change.webp", alt="Replace currencies" width="100" height="100")

      .cryptocur
        .cryptocur__preview 
          .cryptocur__preview-logo 
            img(src="img/svg/eth.svg", alt="#" width="173" height="143")

          .cryptocur__preview-info 
            span YOU RECEIVE
            strong ETH
            small Etherium

            .lbl Bitcoin network

    .swap-module__cryptocols
      .cryptocur__input-wrap
        label(for="cur1") BTC
        input(type="number" name="cur1" id="cur1" value="0")

      .cryptocur__input-wrap
        label(for="cur2") ETH
        input(type="number" name="cur2" id="cur2" value="0")


    +input('ETH_address', 'ETH_address', 'Your ETH address')

    p.swap-module__note By clicking Exchange you agree with Terms of Service and Privacy Policy

    +btn-button('submit', 'btn-submit large center xxl')
      | SWAP NOW