.swap-module 
  .swap-module__head 
    .swap-module__tabs 
      ul 
        li 
          button(type="button").active Variable rate
        li 
          button(type="button") Fixed rate
        li 
          button(type="button") Anonymous Swap

    .rate 1 ETH ≈ 0.0618 BTC