:root {
  --bg: #121212;
  --headerBG: #1B1B1B;
  --grayBG: #1B1B1B;
  --txt: #fff;
  --accent: #1643E3;
  --accentHover: #343434;
  --spirit: rgba(255, 255, 255, 0.08);
  --spiritBlur: blur(8px);
  --fz: rem(16);
  --error: #F00;
}