.wallets {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wallet {
  padding: 11px 8px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: rem(24);
  line-height: 1;
  color: var(--txt);
  text-decoration: none;
  transition: all .2s ease-in;

  &:hover {
    background-color: var(--accent);
    color: #fff;
  }
}

@media (max-width: 768px) {
  .wallets {
    gap: 8px;
  }

  .wallet {
    padding: 8px;
    gap: 10px;
    font-size: rem(14);
    line-height: lh(16, 14); 
    min-height: 46px;

    img {
      max-width: 25px;
    }
  }
}