ul.socials 
  li 
    a(href="#" aria-label="Twitter" title="Twitter")
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
        <g clip-path="url(#clip0_1007_1795)">
        <path d="M30 5.69813C28.8844 6.1875 27.6956 6.51187 26.4562 6.66937C27.7312 5.90812 28.7044 4.71187 29.1619 3.27C27.9731 3.97875 26.6606 4.47938 25.2619 4.75875C24.1331 3.55688 22.5244 2.8125 20.7694 2.8125C17.3644 2.8125 14.6231 5.57625 14.6231 8.96438C14.6231 9.45188 14.6644 9.92062 14.7656 10.3669C9.6525 10.1175 5.12813 7.66688 2.08875 3.93375C1.55812 4.85438 1.24688 5.90812 1.24688 7.0425C1.24688 9.1725 2.34375 11.0606 3.97875 12.1537C2.99062 12.135 2.02125 11.8481 1.2 11.3962C1.2 11.415 1.2 11.4394 1.2 11.4637C1.2 14.4525 3.33187 16.935 6.1275 17.5069C5.62687 17.6438 5.08125 17.7094 4.515 17.7094C4.12125 17.7094 3.72375 17.6869 3.35062 17.6044C4.1475 20.04 6.40875 21.8306 9.0975 21.8888C7.005 23.5256 4.34812 24.5119 1.47188 24.5119C0.9675 24.5119 0.48375 24.4894 0 24.4275C2.72438 26.1844 5.95312 27.1875 9.435 27.1875C20.7525 27.1875 26.94 17.8125 26.94 9.68625C26.94 9.41437 26.9306 9.15188 26.9175 8.89125C28.1381 8.025 29.1637 6.94313 30 5.69813Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_1007_1795">
        <rect width="30" height="30" fill="white"/>
        </clipPath>
        </defs>
      </svg>

  li 
    a(href="#" aria-label="Telegram" title="Telegram")
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
        <path d="M0.529889 14.4644L7.44249 17.0444L10.1181 25.6491C10.2893 26.2002 10.9632 26.4039 11.4105 26.0382L15.2637 22.897C15.6676 22.5679 16.2429 22.5515 16.665 22.8579L23.6148 27.9036C24.0933 28.2514 24.7712 27.9892 24.8912 27.411L29.9823 2.92189C30.1133 2.29029 29.4927 1.76339 28.8913 1.99599L0.521789 12.9401C-0.178311 13.2101 -0.172212 14.2013 0.529889 14.4644ZM9.68689 15.671L23.1967 7.35029C23.4395 7.20119 23.6893 7.52949 23.4808 7.72289L12.3313 18.0869C11.9394 18.4517 11.6866 18.9399 11.615 19.4698L11.2352 22.2844C11.1849 22.6602 10.657 22.6975 10.5533 22.3338L9.09259 17.2013C8.92529 16.6159 9.16909 15.9906 9.68689 15.671Z" fill="white"/>
      </svg>

  li 
    a(href="#" aria-label="Reddit" title="Reddit")
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
        <g clip-path="url(#clip0_1007_1802)">
        <path d="M30 14.2781C30 12.2085 28.3162 10.5247 26.2466 10.5247C25.0919 10.5247 24.0296 11.0408 23.3212 11.9257C21.3339 11.0216 19.0678 10.4645 16.6708 10.288L18.7304 3.77948L23.3305 4.77616C23.6827 6.14689 24.9284 7.16309 26.4075 7.16309C28.1593 7.16309 29.5847 5.73788 29.5847 3.98602C29.5847 2.23416 28.1593 0.808838 26.4075 0.808838C25.142 0.808838 24.0483 1.55319 23.5379 2.62655L18.2298 1.4764C17.6892 1.3593 17.1474 1.67297 16.9804 2.20091L14.4383 10.2339C11.6325 10.3023 8.97036 10.883 6.67887 11.9256C5.97045 11.0408 4.90813 10.5247 3.75338 10.5247C1.68377 10.5247 0 12.2085 0 14.2781C0 15.2833 0.394963 16.227 1.0962 16.9279C0.677967 17.8255 0.46617 18.7591 0.46617 19.7092C0.46617 22.2881 2.00999 24.695 4.81344 26.4867C7.54236 28.2308 11.1602 29.1913 15 29.1913C18.84 29.1913 22.4576 28.2308 25.1866 26.4867C27.99 24.695 29.5338 22.2881 29.5338 19.7092C29.5338 18.7592 29.322 17.8256 28.9038 16.9279C29.605 16.2269 30 15.2833 30 14.2781ZM1.64816 15.5647C1.41095 15.1797 1.28687 14.7402 1.28687 14.2781C1.28687 12.9181 2.39326 11.8116 3.75338 11.8116C4.33719 11.8116 4.88561 12.0101 5.32433 12.3755C3.75627 13.2658 2.52195 14.3368 1.64816 15.5647ZM7.29657 17.738C7.29657 16.2597 8.49926 15.057 9.97755 15.057C11.4558 15.057 12.6585 16.2597 12.6585 17.738C12.6585 19.2163 11.4558 20.419 9.97755 20.419C8.49926 20.419 7.29657 19.2163 7.29657 17.738ZM20.4998 23.8564C19.4547 24.9971 17.3474 25.7056 15 25.7056C12.6527 25.7056 10.5454 24.9971 9.50034 23.8564C9.30677 23.6451 9.20725 23.3711 9.21969 23.0851C9.23213 22.7989 9.35546 22.5347 9.56661 22.3412C9.7649 22.1596 10.0221 22.0595 10.2909 22.0595C10.5909 22.0595 10.879 22.1864 11.0816 22.4074C11.7039 23.0865 13.3151 23.5609 15 23.5609C16.6849 23.5609 18.2962 23.0865 18.9184 22.4074C19.121 22.1863 19.4091 22.0595 19.7092 22.0595C19.9782 22.0595 20.2353 22.1596 20.4336 22.3412C20.6449 22.5347 20.768 22.7989 20.7804 23.0851C20.793 23.3711 20.6933 23.6451 20.4998 23.8564ZM20.0224 20.419C18.5442 20.419 17.3415 19.2163 17.3415 17.738C17.3415 16.2597 18.5442 15.057 20.0224 15.057C21.5007 15.057 22.7034 16.2597 22.7034 17.738C22.7034 19.2163 21.5007 20.419 20.0224 20.419ZM28.3518 15.5647C27.4782 14.3368 26.2438 13.2659 24.6757 12.3755C25.1145 12.01 25.6628 11.8116 26.2466 11.8116C27.6067 11.8116 28.7131 12.9181 28.7131 14.2781C28.7131 14.7402 28.5891 15.1797 28.3518 15.5647Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_1007_1802">
        <rect width="30" height="30" fill="white"/>
        </clipPath>
        </defs>
      </svg>