.main-header {
  background-color: var(--headerBG);
  position: relative;
  z-index: 2;

  .logo {
    margin-right: 7.33%;
  }

  &__inner {
    min-height: 60px;
    display: flex;
    gap: 41px;
    align-items: center;
  }

  &__btns  {
    display: flex;
    gap: 8px;
    margin-left: auto;
  }

  .nice-select-wrap {
    min-width: 53px;
    display: flex;
    justify-content: flex-end;
  }
}

.menu-btn {
	width: 24px;
	height: 16px;
	position: relative;
	z-index:2;
	overflow: hidden;
  background: none;
  border: none;
  cursor: pointer;
  display: none;

  span {
    width: 24px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--txt);
    transition: all 0.2s ease-in;

    &:nth-of-type(2) {
      top: calc(50% - 7px);
    }
    &:nth-of-type(3) {
      top: calc(50% + 7px);
    }
  }


  &.active {
    span:nth-of-type(1) {
      display: none;
    }

    span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);  
    }

    span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    }
  }
}




@media (max-width: 1220px) {
  .main-header .logo {
    margin-right: 15px;
  }

  .main-header__inner {
    gap: 20px;
  }
}

@media (max-width: 1090px) {
  .menu-btn {
    display: block;
  }

  .main-header {
    z-index: 3;

    &__btns {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__inner {
      .main-header__btns  .connect-wallet, & > .nice-select-wrap {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-header {
    .logo {
      max-width: 97px;
      margin-right: 0;
    }

    &__inner {
      gap: 10px;
      min-height: 42px;
    }
  }
}