include ../../../components/btn/btn

.settings-module
  .settings-module__grid 
    .settings-box
      .settings-item 
        .settings-item__field
          span Email
          strong eternos@gmail.com

      .settings-item 
        .settings-item__field
          span Pasword
          strong *******************

        .settings-item__actions
          +btn-button('button', 'primery-btn--brd accent')
            | Change 
      
      .settings-item 
        .settings-item__field
          span Payout address (USDT) 
          strong ksdjhbfcsii387462jhbfsjdsliHHHuh

        .settings-item__actions
          +btn-button('button', 'primery-btn--brd accent')
            | Change 

      .settings-item 
        .settings-item__field
          span Minimum withdrawal
          strong 0


    aside.settings-module__sidebar
      .settings-box
        

      .settings-box