include ../../../components/btn/btn

.settings-module
  .settings-module__grid 
    .settings-box
      .settings-item 
        .settings-item__field
          span Email
          strong eternos@gmail.com

      .settings-item 
        .settings-item__field
          span Pasword
          strong *******************

        .settings-item__actions
          +btn-button('button', 'primery-btn--brd accent')
            | Change 
      
      .settings-item 
        .settings-item__field
          span Payout address (USDT) 
          strong ksdjhbfcsii387462jhbfsjdsliHHHuh

        .settings-item__actions
          +btn-button('button', 'primery-btn--brd accent')
            | Change 

      .settings-item 
        .settings-item__field
          span Minimum withdrawal
          strong 0


    aside.settings-module__sidebar
      .settings-box
        .fa2
          .fa2__title
            strong 2FA
            small SOON

          .fa2__wrapper 
            .fa2__text 
              span Authenticator
              strong 6-digist one-time code

            .2-fa__control-wrapper 
              include ../../../components/check-slider/check-slider


          .apps 
            span.apps__title Supported apps

            .app 
              .ic
                img(src="img/svg/authy.svg", alt="#" width="20" height="20")

              strong Authy

            .app 
              .ic 
                img(src="img/svg/google-authenticator.svg", alt="#" width="20" height="20")

              strong Google Authenticator

      .settings-box
        .subscribtion-level 
          strong.subscribtion-level__title Subscription level 

          .level 
            span Your level
            strong VIP