
.exchanging-send  {
  padding-top: 16px;


  &__inner {
    display: grid;
    grid-template-columns: 335px 1fr;
    gap: 80px;
  }

  &__info  {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__note {
    display: block;
    font-size: rem(16);
    line-height: 1;
    text-transform: uppercase;
    margin-top: 54px;
  }
}

.a-lbl {
  font-size: rem(16);
  line-height: 1;
  color: var(--accent);
  padding: 3px 4px;
  border: 1px solid var(--accent);
  border-radius: 5px;
}


.e-info-item {
  display: flex;
  flex-direction: column;
  gap: 8px;


  span {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #AEAEAE;
    font-size: rem(16);
    line-height: 1;
    text-transform: uppercase;
  }

  strong {
    display: block;
    font-size: rem(20);
    font-weight: 600;
    line-height: lh(24, 20);
  }

  &__actions  {
    margin-top: 16px;
    margin-left: -5px;
  }
}


.readonly-field {
  border-radius: 10px;
  border: 1px solid #363636;
  padding: 0 16px;
  height: 60px;
  background: none;
  font-size: rem(20);
  font-weight: 600;
  line-height: lh(24, 20);
}

.txt-btn {
  color: var(--accent);
  font-size: rem(16);
  line-height: 1;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    opacity: .7;
  }
}

@media (max-width: 768px) {
  
  .exchanging-send {
    padding-top: 24px;

    &__inner {
      display: flex;
      grid-template-columns: 100%;
      flex-direction: column;
      gap: 24px;
      align-items: center;
    }

    &__qr {
      order: -1;
    }

    &__note {
      font-size: rem(14);
      line-height: lh(16, 14);
      margin-top: 24px;
    }

    &__info {
      padding-top: 0;
      gap: 8px;
    }

  }

  .e-info-item {
    align-items: center;
    gap: 4px;

    span {
      text-align: center;
      font-size: rem(14);
      line-height: lh(16, 14);
      gap: 4px;
    }

    strong {
      text-align: center;
      font-size: rem(16);
      line-height: lh(20, 16);
    }

    &__actions {
      margin-top: 2px;
    }
  }


  .readonly-field {
    font-size: rem(16);
    line-height: lh(20, 16);
    height: 46px;
    padding: 0 7px;
    min-width: 313px;
    border-radius: 5px;
  }
  

  .txt-btn {
    font-size: rem(14);
    line-height: lh(16, 14);
    gap: 8px;

    svg {
      width: 16px;
      min-width: 16px;
    }
  }


  .a-lbl {
    font-size: rem(14);
    line-height: lh(16, 14);
    padding: 2px 5px;
  }


  .lock {
    padding-left: 25px;
    

    &:before {
      width: 16px;
      height: 16px;
      transform: translateY(-56%);
    }
  }

  
}