extends ../layouts/default
include ../helpers/mixins
include ../../blocks/modules/pages/cabinet-module/cabinet-module
include ../../blocks/components/exchanging-box/exchanging-box
include ../../blocks/modules/pages/exchanging-module-1/exchanging-module-1

block variables
	- const title = "Eternos | Exchanging 5"

block content
	include ../../blocks/modules/header/header2

	main.exchanging.exchanging--complite
		.container
			+exchanging-box
				+exchanging-module
					include ../../blocks/modules/pages/exchanging-complite/exchanging-complite

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")