extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/title/title

block variables
	- const title = "Eternos"

block content
	include ../../blocks/modules/header/header2

	main
		.container
			+h1('center page-title') 
				| NO KYC CRYPTO EXCHANGE

			p.page-description Swap between BTC, ETH, XMR, USDT and 300+ other cryptocurrencies. First exchange you can trust, no KYC, no account required. Best rates and lightning fast swaps.

			include ../../blocks/modules/swap-module/swap-module
			include ../../blocks/modules/swap-process-module/swap-process-module
			include ../../blocks/modules/advantages-module/advantages-module
			include ../../blocks/modules/integrate-module/integrate-module

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")