extends ../layouts/default
include ../helpers/mixins
include ../../blocks/modules/pages/cabinet-module/cabinet-module

block variables
	- const title = "Eternos | Payout"

block content
	include ../../blocks/modules/header/header2

	main.cabinet-page
		.container
			+cabinet-module
				include ../../blocks/modules/pages/payout-module/payout-module

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")