extends ../layouts/default
include ../helpers/mixins
include ../../blocks/modules/pages/cabinet-module/cabinet-module
include ../../blocks/components/title/title

block variables
	- const title = "History | Privacy policy"

block content
	include ../../blocks/modules/header/header2

	main.text-page
		.container
			article 
				+h1('upper') 
					| Privacy policy

				p Lorem ipsum dolor sit amet consectetur. Non semper maecenas amet elementum purus consequat nunc. Augue adipiscing quam massa felis lectus porta. Consequat massa viverra egestas amet varius consectetur nam. Dictumst faucibus justo montes elementum volutpat sit. Tortor mattis lorem enim morbi ornare libero proin maecenas. Volutpat lorem integer platea quisque est cras. Egestas amet vitae dolor eu nunc cras nec est praesent.
				p Pretium nulla nunc quisque phasellus lectus maecenas amet at adipiscing. Pellentesque massa sit iaculis nunc justo ullamcorper. Aliquet eu nibh dictumst tempor vitae elit sed ac mollis. Ut tellus scelerisque elit mattis pellentesque. Sit eget nunc diam ut. Risus viverra sed pellentesque vel varius aenean. Vulputate odio adipiscing magna dolor aliquam quis maecenas. Amet mauris posuere est hac vulputate duis. Nunc quis lacus lobortis ut et amet dictum mauris. Iaculis lorem sed id scelerisque sed. Sit quisque maecenas nibh nibh. Nec praesent at nulla molestie convallis lorem.
				p Hendrerit faucibus rhoncus non faucibus. Sed morbi libero lacus id semper quis. Id gravida nunc diam neque ac malesuada fermentum ipsum. Quis nibh scelerisque elementum pharetra risus mollis. Et nulla massa nullam aliquet fames sed eros. Odio ipsum eget convallis lectus donec. Aliquam ut sapien sit est viverra varius. Nulla purus in amet cras egestas nisl ac consectetur. Elit pharetra sit cursus cras. Dolor adipiscing neque sed tristique nullam aliquam molestie quis mattis. Malesuada vivamus velit amet ullamcorper eget. Urna sed blandit auctor imperdiet laoreet nunc mattis. Blandit sed amet facilisis egestas imperdiet luctus. Volutpat dui nisl blandit dignissim ullamcorper id.
				p Ut erat aliquam fermentum aliquet. Ac massa enim scelerisque orci ac malesuada. Cras turpis dui consequat nunc cursus eget. Egestas nibh gravida nascetur nunc sed at pellentesque a. Dui dapibus in aenean facilisi quis nec eros morbi. Mattis morbi convallis semper morbi pretium a.
				p Aenean pulvinar sodales in augue praesent mollis in ut amet. Lectus erat arcu dignissim morbi. Vestibulum ut habitasse praesent tincidunt. Viverra egestas sed id dignissim donec. Aliquet cras imperdiet malesuada ut sed quam pellentesque in morbi. Suscipit massa neque vulputate imperdiet egestas faucibus sed tellus. Tincidunt imperdiet arcu nibh enim.
				p Massa quam semper molestie mauris laoreet faucibus dui nisl hac. Consequat pellentesque convallis lorem vulputate. Quis amet diam suspendisse ac aenean arcu eu pellentesque. Diam cursus pharetra nec ut. Facilisis quisque donec accumsan ultrices duis. Odio vitae nam aliquet interdum mauris venenatis neque lorem. Elementum lobortis elementum egestas tortor faucibus. Sit senectus ultricies vestibulum cursus. Fringilla feugiat vitae sit ac. Gravida aliquet etiam tellus pellentesque posuere iaculis urna imperdiet ipsum. Massa sem tristique mi sagittis id mi.
				p Ut nullam dictum ipsum viverra justo dolor euismod scelerisque. Elit quam morbi orci quam tristique consectetur imperdiet morbi bibendum. Viverra vitae magna massa metus sem quis maecenas. Lorem lectus pellentesque porttitor massa ultricies sed egestas turpis. Faucibus lectus vel quis nulla interdum augue purus. Sed ut amet felis lacus morbi euismod vitae molestie. Sed integer pellentesque est arcu pellentesque. Mattis id urna rutrum quam nullam sem suspendisse gravida tortor. Rhoncus metus tortor convallis nullam et. Egestas arcu et gravida sit pellentesque suspendisse imperdiet. A purus aliquet scelerisque turpis fringilla in habitant mauris non. Est velit sollicitudin et sagittis scelerisque placerat donec proin justo. Amet purus sed vel mauris.
				p Neque sapien nulla parturient bibendum consectetur consequat ac. Luctus bibendum ultricies diam sapien. Odio penatibus donec scelerisque tempus. Neque risus integer tempus pellentesque. Sit adipiscing consequat diam ornare. Quis iaculis et faucibus aenean dignissim ornare non lobortis. Donec morbi accumsan vel vitae. Ut tempor aenean purus sapien sed. Semper pharetra ultrices eleifend cum eget in gravida adipiscing. Facilisi tortor ac tellus nibh euismod sed.
				p Nulla vivamus cursus sed parturient molestie non nunc gravida. Turpis nibh ultrices tellus adipiscing adipiscing iaculis mauris sed vivamus. Volutpat gravida cursus gravida aliquam potenti nunc elementum pharetra auctor. Porta non pulvinar iaculis posuere lorem in mattis. Suscipit ut scelerisque risus cursus condimentum ligula.
				p Odio rutrum fermentum urna enim tellus pretium scelerisque. Tristique id volutpat varius suspendisse nibh mattis semper. Lacus sed nunc donec proin id risus turpis nunc tristique. Morbi faucibus dui diam facilisi quis pellentesque accumsan. Ut purus leo mauris enim scelerisque. Quis a lectus venenatis aliquam auctor cursus volutpat. At et sit ipsum tortor. Aliquam quisque vulputate nisl quisque sapien id. Augue fermentum sed mauris mauris pharetra duis vel dignissim. Pulvinar ut sit laoreet tellus tellus. Dictumst lobortis dolor vel massa. Facilisis tortor vel tristique vulputate rhoncus diam eget.
	
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")