include ../../components/title/title

section.info-section-module.section 
  .info-section-module__row 
    .info-section-module__row-img
      img(src="img/trust.webp", alt="#" width="590" height="542")

    .info-section-module__row-text 
      +h3('row-text__title')
        | The one you can trust

      p We will never ask our customers for KYC or any personal details, we are not interested in the origin of your funds, your nationality or location.
      p All we have is our reputation. We value our clients more than anyone else and our priorities are anonymity, safety and honesty.

  .info-section-module__row.info-section-module__row--reverse
    .info-section-module__row-img
      img(src="img/privacy.webp", alt="#" width="590" height="434")

    .info-section-module__row-text 
      +h3('row-text__title')
        | Privacy is Security

      p Why should every one be able to track where you earn your money and where it is spent? Not only is that feature of blockchain intrusive, it’s also dangerous.
      p You don’t walk around with a name tag of your net worth in real life, so why should crypto be any different? Eternos makes it easy to swap transactions between wallets without a trace. Welcome to the next evolution of crypto transactions.
