.info-section-module {
  display: flex;
  flex-direction: column;
  gap: 57.86px;

  &__row {
    display: flex;
    gap: 122px;
    align-items: center;
    

    &-img {
      min-width: 49.17%;
      width: 49.17%;
    }

    &-text  {
      min-width: calc(100% - 49.17% - 122px);
      width: calc(100% - 49.17% - 122px);

      .row-text__title {
        margin-bottom: 32px;
      }

      p {
        font-size: rem(20);
        line-height: lh(24, 20); 
        
        & + p {
          margin-top: 16px;
        }
      }
    }

    &--reverse {
      .info-section-module__row-text  {
        order: -1;
      }
    }
  }
}


@media (max-width: 980px) {
  .info-section-module {
    &__row {
      gap: 60px;
    }

    &__row-img {
      min-width: 35%;
      width: 35%;
    }

    &__row-text {
      min-width: calc(65% - 60px);
      width: calc(65% - 60px);
    }
  }
}


@media (max-width: 768px) {
  .info-section-module {
    gap: 38px;
    
    &__row {
      flex-direction: column;
      gap: 24px;
    }

    &__row-img {
      min-width: 100%;
      width: 100%;
      order: -1;
    }

    &__row-text {
      min-width: 100%;
      width: 100%;

      p {
        font-size: rem(14);
        line-height: lh(16, 14);

        & + p {
          margin-top: 8px;
        }
      }

      .row-text__title {
        font-size: rem(20);
        line-height: lh(24, 20);
        margin-bottom: 16px;
      }
    }
  }
}