nav.main-navigation 
  ul 
    li 
      a(href="/").active Swap
    li 
      a(href="/how-works.html") How it works
    li 
      a(href="/contacts.html") Contacts
    li 
      a(href="/integrate.html") Integrate