.cabinet-module  {
  border-radius: 10px;
  background: var(--grayBG);
  padding-top: 40px;
  padding-bottom: 40px;
  --pl: 16px;
  --pr: 40px;
  padding-left: var(--pl);
  padding-right: var(--pr);
  display: grid;
  grid-template-columns: 167px 1fr;
  gap: 20px;

  .cashback-module {
    width: calc(100% + var(--pr));
    margin-right: calc(-1 * var(--pr));
  }
}

.cabinet-sidebar {
  
  ul {
    width: calc(100% + var(--pl));
    margin-left: calc(-1 * var(--pl));
    display: flex;
    flex-direction: column;
    gap: 23px;

    li a {
      color: var(--txt);
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: rem(20);
      font-style: normal;
      font-weight: 500;
      line-height: lh(24, 20);
      padding: 9.15px 10px 9.15px 40px;
      border-radius: 0px 10px 10px 0px;
      text-decoration: none;

      &:hover, &.active {
        background: #343434;
      }
    }
  }


  &__actions {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

}

@media (max-width: 980px) {
  .cabinet-module {
    max-width: calc(100vw - 32px);
    grid-template-columns: 167px calc(100% - 167px - 20px);
  }
}

@media (max-width: 768px) {
  .cabinet-module {
    max-width: calc(100vw - 32px);
    grid-template-columns: 100%;
    background: none;
    padding: 0;
    gap: 8px;

    .cashback-module {
      width: 100%;
      margin-right: 0;
    }
  }

  .cabinet-sidebar  {
    ul {
      width: 100%;
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 10px;
  
      li a {
        justify-content: center;
        padding: 4px 9px;
        border-radius: 5px;
        font-size: rem(14);
        line-height: lh(16, 14); 

        img {
          max-width: 24px;
        }
      }
    }

    &__actions {
      margin-top: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }

  .cabinet-page {
    padding-top: 24px;
    padding-bottom: 48px;
  }

  .table .tbody .tr:last-child .td {
    padding-bottom: 17px;
  }
}