include ../../../components/title/title

.exchanging-module__title-box
  +h1('h4 upper center')
    | Processing deposit...

  p.exchanging-module__subtitle.mtx2.xl Expected wait time: -1 minute after 1 confirmation

.process-head
  .process-head__item 
    span Receiving
    strong 30 USDT


.exchanging-sending-module 
  .exchanging-sending-module__currencies
      img(src="img/cur/btc-big.svg", alt="#" width="198" height="198")
      img(src="img/cur/eth-big.svg", alt="#" width="198" height="198")