include ../../../components/table/table
include ../../../components/tooltip/tooltip

.history-table-container
  +table('history-table') 
    .thead
      <div class="tr" >
        <div class="th">
          | ID
        </div>
        <div class="th">
          | uID
        </div>
        <div class="th">
          | Date/Time
        </div>
        <div class="th"> 
          | From
        </div>
        <div class="th"> 
          | To
        </div>
        <div class="th">
          | Profit
        </div>
        <div class="th">
          | Turnover
        </div>
        <div class="th"> 
          | Status
        </div>
      </div>


    .tbody
      .tr 
        .td
          
            strong 152368
        .td 
          
            strong max049576gh5
        .td 
          
            strong 11.08.23
            span 17:43

        .td 
          
            strong 0.1
            span BTC

        .td 
          
            strong 0.12568
            span ETH

        .td 
          
            strong 0.23568945
            span BTC

        .td 
          
            strong 0.1
        
        .td
          
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 152368
        .td 
          
            strong max049576gh5
        .td 
          
            strong 11.08.23
            span 17:43

        .td 
          
            strong 0.1
            span BTC

        .td 
          
            strong 0.12568
            span ETH

        .td 
          
            strong 0.23568945
            span BTC

        .td 
          
            strong 0.1
        
        .td
          
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 152368
        .td 
          
            strong max049576gh5
        .td 
          
            strong 11.08.23
            span 17:43

        .td 
          
            strong 0.1
            span BTC

        .td 
          
            strong 0.12568
            span ETH

        .td 
          
            strong 0.23568945
            span BTC

        .td 
          
            strong 0.1
        
        .td
          
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 152368
        .td 
          
            strong max049576gh5
        .td 
          
            strong 11.08.23
            span 17:43

        .td 
          
            strong 0.1
            span BTC

        .td 
          
            strong 0.12568
            span ETH

        .td 
          
            strong 0.23568945
            span BTC

        .td 
          
            strong 0.1
        
        .td
          
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 152368
        .td 
          
            strong max049576gh5
        .td 
          
            strong 11.08.23
            span 17:43

        .td 
          
            strong 0.1
            span BTC

        .td 
          
            strong 0.12568
            span ETH

        .td 
          
            strong 0.23568945
            span BTC

        .td 
          
            strong 0.1
        
        .td
          
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 152368
        .td 
          
            strong max049576gh5
        .td 
          
            strong 11.08.23
            span 17:43

        .td 
          
            strong 0.1
            span BTC

        .td 
          
            strong 0.12568
            span ETH

        .td 
          
            strong 0.23568945
            span BTC

        .td 
          
            strong 0.1
        
        .td
          
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 152368
        .td 
          
            strong max049576gh5
        .td 
          
            strong 11.08.23
            span 17:43

        .td 
          
            strong 0.1
            span BTC

        .td 
          
            strong 0.12568
            span ETH

        .td 
          
            strong 0.23568945
            span BTC

        .td 
          
            strong 0.1
        
        .td
          
            strong Remaining
              +tooltip('xs')