include ../../../components/table/table
include ../../../components/tooltip/tooltip

.payout-table-container
  +table('payout-table')
    .thead
      .tr
        <div class="th">
          | Date/Time
        </div>
        <div class="th">
          | Usdt adress
        </div>
        <div class="th">
          |  Amount
        </div>
        <div class="th"> 
          | Status
        </div>


    .tbody
      .tr 
        .td
      
            strong 11.08.23
            span 17:43
        .td 
          
            span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
        .td 
          
            strong 1254
            span USDT
        .td
          
            strong Remaining
              +tooltip('xs')
      .tr 
        .td
          
            strong 11.08.23
            span 17:43
        .td 
          
            span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
        .td 
          
            strong 1254
            span USDT
        .td
        
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 11.08.23
            span 17:43
        .td 
        
            span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
        .td 
        
            strong 1254
            span USDT
        .td
          
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 11.08.23
            span 17:43
        .td 
        
            span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
        .td 
        
            strong 1254
            span USDT
        .td
          
            strong Remaining
              +tooltip('xs')


      .tr 
        .td
          
            strong 11.08.23
            span 17:43
        .td 
          
            span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
        .td 
          
            strong 1254
            span USDT
        .td
        
            strong Remaining
              +tooltip('xs')

      .tr 
        .td
          
            strong 11.08.23
            span 17:43
        .td 
          
            span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
        .td 
          
            strong 1254
            span USDT
        .td
          
            strong Remaining
              +tooltip('xs')
          
      .tr 
        .td
          
            strong 11.08.23
            span 17:43
        .td 
          
            span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
        .td 
          
            strong 1254
            span USDT
        .td
          
            strong Remaining
              +tooltip('xs')