include ../../../components/table/table
include ../../../components/tooltip/tooltip

+table 
  thead.thead
    <tr >
      <th style="width: 17.87%">
        .thi Date/Time
      </th>
      <th style="width: 31.87%">
        .thi Usdt adress
      </th>
      <th style="width: 24.87%">
        .thi Amount
      </th>
      <th style="width: 25.39%"> 
        .thi Status
      </th>
    </tr>


  tbody.tbody
    tr 
      td
        .tdi
          strong 11.08.23
          span 17:43
      td 
        .tdi 
          span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
      td 
        .tdi
          strong 1254
          span USDT
      td
        .tdi
          strong Remaining
            +tooltip('xs')
    tr 
      td
        .tdi
          strong 11.08.23
          span 17:43
      td 
        .tdi 
          span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
      td 
        .tdi
          strong 1254
          span USDT
      td
        .tdi
          strong Remaining
            +tooltip('xs')

    tr 
      td
        .tdi
          strong 11.08.23
          span 17:43
      td 
        .tdi 
          span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
      td 
        .tdi
          strong 1254
          span USDT
      td
        .tdi
          strong Remaining
            +tooltip('xs')

    tr 
      td
        .tdi
          strong 11.08.23
          span 17:43
      td 
        .tdi 
          span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
      td 
        .tdi
          strong 1254
          span USDT
      td
        .tdi
          strong Remaining
            +tooltip('xs')


    tr 
      td
        .tdi
          strong 11.08.23
          span 17:43
      td 
        .tdi 
          span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
      td 
        .tdi
          strong 1254
          span USDT
      td
        .tdi
          strong Remaining
            +tooltip('xs')

    tr 
      td
        .tdi
          strong 11.08.23
          span 17:43
      td 
        .tdi 
          span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
      td 
        .tdi
          strong 1254
          span USDT
      td
        .tdi
          strong Remaining
            +tooltip('xs')
        
    tr 
      td
        .tdi
          strong 11.08.23
          span 17:43
      td 
        .tdi 
          span.token ksdjhbfcsii387462jhbfsjdsliHHHuh
      td 
        .tdi
          strong 1254
          span USDT
      td
        .tdi
          strong Remaining
            +tooltip('xs')