mixin tooltip(cls="") 
  div(class=cls + " tooltip")
    .tooltip__ic 
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <g clip-path="url(#clip0_646_6169)">
          <rect width="20" height="20" rx="10" fill="white"/>
          <path d="M10 0C4.47309 0 0 4.4725 0 10C0 15.5269 4.4725 20 10 20C15.5269 20 20 15.5275 20 10C20 4.47309 15.5275 0 10 0ZM10.6977 14.3721C10.6977 14.7574 10.3853 15.0698 10 15.0698C9.61473 15.0698 9.30234 14.7574 9.30234 14.3721V8.65117C9.30234 8.26586 9.61473 7.95352 10 7.95352C10.3853 7.95352 10.6977 8.2659 10.6977 8.65117V14.3721ZM10.6977 6.46512C10.6977 6.85043 10.3853 7.16277 10 7.16277C9.61473 7.16277 9.30234 6.85039 9.30234 6.46512V5.62789C9.30234 5.24258 9.61473 4.93023 10 4.93023C10.3853 4.93023 10.6977 5.24262 10.6977 5.62789V6.46512Z" fill="#1643E3"/>
        </g>
        <defs>
          <clipPath id="clip0_646_6169">
            <rect width="20" height="20" rx="10" fill="white"/>
          </clipPath>
        </defs>
      </svg>


    .tooltip__body 
      <div><strong>VARIABLE RATE:</strong> Live market EXCHANGE RATE displayed until you SEND funds to SideShift.ai for your SHIFT. Once funds are deposited, the exchange rate becomes LOCKED-IN.<br><br><strong>FIXED RATE:</strong> The EXCHANGE RATE for selected coins is LOCKED-IN for 15 minutes once a quote has been generated. You must first enter the exact COIN AMOUNT you wish to SEND before creating your order.</div>