include ../../components/title/title

section.how-swap-module.section 
  .how-swap-module__text
    +h1('upper how-swap-module__title')
      | HOW TO SWAP

    .how-swap-module__text-slider.swiper
      .swiper-pagination
      .swiper-wrapper 
        .swiper-slide 
          strong Input the receiving wallet address
          p 
            | Input the receiving wallet address<br>
            | The receiving wallet address should match the address format of the receiving currency. For example, ETH address start with 0x…

        .swiper-slide 
          strong Input the receiving wallet address
          p 
            | Input the receiving wallet address<br>
            | The receiving wallet address should match the address format of the receiving currency. For example, ETH address start with 0x…

        .swiper-slide 
          strong Input the receiving wallet address
          p 
            | Input the receiving wallet address<br>
            | The receiving wallet address should match the address format of the receiving currency. For example, ETH address start with 0x…

        .swiper-slide 
          strong Input the receiving wallet address
          p 
            | Input the receiving wallet address<br>
            | The receiving wallet address should match the address format of the receiving currency. For example, ETH address start with 0x…

        .swiper-slide 
          strong Input the receiving wallet address
          p 
            | Input the receiving wallet address<br>
            | The receiving wallet address should match the address format of the receiving currency. For example, ETH address start with 0x…

        .swiper-slide 
          strong Input the receiving wallet address
          p 
            | Input the receiving wallet address<br>
            | The receiving wallet address should match the address format of the receiving currency. For example, ETH address start with 0x…

      .custom-dot-pagination
        .dot(data-slide-num="0").active 
        .dot(data-slide-num="1"). 
        .dot(data-slide-num="2").
        .dot(data-slide-num="3"). 
        .dot(data-slide-num="4"). 
        .dot(data-slide-num="5").


  .how-swap-module__img 
    .swiper.how-swap-module__img-slider 
      .swiper-wrapper 
        .swiper-slide 
          img(src="img/main.webp", alt="#" width="610" height="428")
        .swiper-slide 
          img(src="img/main.webp", alt="#" width="610" height="428")
        .swiper-slide 
          img(src="img/main.webp", alt="#" width="610" height="428")  
        .swiper-slide 
          img(src="img/main.webp", alt="#" width="610" height="428")
        .swiper-slide 
          img(src="img/main.webp", alt="#" width="610" height="428")
        .swiper-slide 
          img(src="img/main.webp", alt="#" width="610" height="428")