include ../../components/btn/btn

.cashback-module
  .cashback-module__text 
    span Your cashback

    .cashback-module__total
      strong 0 USDT
      span ~ $0.00

  +btn-button('button', 'primery-btn--brd m')
    | Get Payout