.cashback-module {
  border-radius: 10px;
  background-color: #222;
  background-image: url('../img/cashbackbg.webp');
  background-position: top 0 left 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 18px  40px 18px 17.4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 32px;

  &__text  {
    color: #DDD;

    & > span {
      font-size: rem(16);
      line-height: lh(24, 16);
      margin-bottom: 8px;
      display: block;
    }
  }

  &__total {
    display: flex;
    align-items: center;
    gap: 8px;

    strong {
      display: block;
      color: var(--txt);
      font-size: rem(24);
      font-style: normal;
      font-weight: 600;
      line-height: lh(30, 24);
    }

    span {
      display: block;
      font-size: rem(16);
      line-height: lh(24, 16);
    }
  }
}

@media (max-width: 768px) {
  .cashback-module {
    padding: 16px;
    margin-bottom: 24px;
    gap: 20px;
    background-image: url('../img/cachback-bg-mob.png');

    &__text {
      & > span {
        font-size: rem(14);
        line-height: lh(16, 14);
        margin-bottom: 2px;
      }

      strong {
        font-size: rem(20);
        line-height: lh(24, 20);
      }
    }

    .primery-btn {
      padding-left: 29px;
      padding-right: 29px;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    &__total span {
      font-size: rem(16);
      line-height: lh(24, 16); 
    }
  }
}