.cabinet-button  {
  padding: 11px 31px 11px 16px;
  background-color: var(--accent);
  border-radius: 10px;
  position: relative;
  transition: background-color .2s ease-in;
  cursor: pointer;

  // &:hover {
  //   background-color: #343434;

  //   .cabinet-button__drop {
  //     transform: translateY(0);
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }

  & > a {
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      background-image: url(../img/svg/select-arr.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      transform: rotate(0);
      right: -16px;
      transform-origin: center;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  a {
    display: flex;
    gap: 8px;
    text-decoration: none;
    position: relative;

    span {
      color: #FFF;
      font-size: rem(16);
      font-weight: 500;
      line-height: normal;
    }


   
  }

  

  &__drop {
    position: absolute;
    width: 100%;
    top: calc(100% + 9px);
    left: 0;
    background-color: var( --headerBG);
    padding: 22.5px 43px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.3s ease;
    visibility: hidden;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 10px;
    }

    li a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--txt);
      font-size: rem(16);
      font-weight: 500;
      line-height: 140%;
      text-decoration: none;
      transition: color .2s ease-in;

      .ic {
        height: fit-content;
        display: flex;
        align-content: center;
      }

      svg path {
        transition: all .2s ease-in;
      }

      &:hover {
        color: var(--accent);


        svg path[stroke] {
          stroke: var(--accent);
        }

        svg path[fill] {
          fill: var(--accent);
        }
      }
    }
  }
}


@media (min-width: 980px) {
  .cabinet-button {
    &:hover {
      background-color: #343434;

      .cabinet-button__drop {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 980px) {
  .cabinet-button {
    &.active {
      background-color: #343434;

      .cabinet-button__drop {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


@media (max-width: 768px) {
  .cabinet-button  {
    padding: 7px 23px;
    border-radius: 5px;
    min-width: 181px;
    padding-right: 35px;
    position: static;

    &:after {
      right: 23px;
    }

    a {
      align-items: center;
      gap: 8px;

      img {
        max-width: 16px;
      }

      span {
        font-size: rem(14);
        line-height: 1;
      }
    }

    &__drop {
      width: 100%;
      top: calc(100% + 5px);
      border-radius: 0px 0px 10px 10px;
      justify-content: center;
      padding-top: 21px;
      padding-bottom: 25px;

      li a {
        justify-content: center;
      }
    }


  
  }



}