.txt-button {
  color: var(--accent);
  font-size: rem(16);
  line-height: 1;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--accent);
  display: block;
  width: fit-content;
  background: none;
  border: none;
}