.txt-button {
  color: var(--accent);
  font-size: rem(16);
  line-height: 1;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--accent);
  display: block;
  width: fit-content;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .txt-button {
    font-size: rem(14);
    line-height: lh(16, 14); 
  }
}