include ../../components/title/title
include ../../components/accordion-item/accordion-item

section.faq-module.section 
  +h2('upper faq-module__title')
    | FAQ

  ul.faq-module__list 
    li
      +accordion-item-question('What fees will my users pay when using an Eternos integration?')
        p Your users will pay the same fees as if they used Eternos directly.

    li
      +accordion-item-question('How much do I earn as an integration partner?')
        p Lorem ipsum dolor sit amet consectetur. Aliquam pretium pharetra sem nisl viverra lectus sed. Eu consequat amet consectetur fusce tellus morbi nunc. Pharetra id quis dictum laoreet. Nunc pellentesque fermentum sed at vel massa.

    li
      +accordion-item-question('How do I check my earnings?')
        p Lorem ipsum dolor sit amet consectetur. Aliquam pretium pharetra sem nisl viverra lectus sed. Eu consequat amet consectetur fusce tellus morbi nunc. Pharetra id quis dictum laoreet. Nunc pellentesque fermentum sed at vel massa.

    li
      +accordion-item-question('Which token are my earned fees accrued in?')
        p Lorem ipsum dolor sit amet consectetur. Aliquam pretium pharetra sem nisl viverra lectus sed. Eu consequat amet consectetur fusce tellus morbi nunc. Pharetra id quis dictum laoreet. Nunc pellentesque fermentum sed at vel massa.

    li
      +accordion-item-question('How will my users receive support from Eternos?')
        p Lorem ipsum dolor sit amet consectetur. Aliquam pretium pharetra sem nisl viverra lectus sed. Eu consequat amet consectetur fusce tellus morbi nunc. Pharetra id quis dictum laoreet. Nunc pellentesque fermentum sed at vel massa.

    li
      +accordion-item-question('Is it safe for users to swap via my Eternos integration?')
        p Lorem ipsum dolor sit amet consectetur. Aliquam pretium pharetra sem nisl viverra lectus sed. Eu consequat amet consectetur fusce tellus morbi nunc. Pharetra id quis dictum laoreet. Nunc pellentesque fermentum sed at vel massa.

    li
      +accordion-item-question('How fast are integration swaps processed?')
        p Lorem ipsum dolor sit amet consectetur. Aliquam pretium pharetra sem nisl viverra lectus sed. Eu consequat amet consectetur fusce tellus morbi nunc. Pharetra id quis dictum laoreet. Nunc pellentesque fermentum sed at vel massa.
