include ../../components/title/title

section.anonymous-swap-module.section 
  +h2('upper anonymous-swap-module__title')
    | WHAT IS ANONYMOUS SWAP

  +h3('anonymous-swap-module__subtitle')
    | First ever anti-trace system

  ul.grid.grid--x3
    li.blue-card 
      +h3('blue-card__title')
        | Deliverance
      p Sending your crypto to our Exchange A. However, at this stage you can forget about your coins, from now on it's our headache

    li.blue-card 
      +h3('blue-card__title')
        | Cleansing
      p Next we go to the Exchange B where our clean reserve assets are held and swap them to your desired receiving currency

    li 

    li 

    li.blue-card 
      +h3('blue-card__title')
        | Anonymization
      p Sends receiving currency to your desired wallet, breaking all links between sender and receiver

    li.blue-card 
      +h3('blue-card__title')
        |Success
      p Congratulations! You have successfully got rid of any traces and connections, your coins are now completely clean and have no connection to you whatsoever