include ../../components/title/title

section.swap-process-module.section
  +h2('center upper')
    | SWAP PROCESS


  .swap-process-module__steps 
    .swap-process-module__step
      .swap-process-module__step-head 

      .swap-process-module__step-body
        +h3('swap-process-module__step-title') 
          | Step 1

        span Select the coins<br> to swap

    .swap-process-module__step
      .swap-process-module__step-head 

      .swap-process-module__step-body
        +h3('swap-process-module__step-title') 
          | Step 2

        span Deposit the coin to the<br> address shown

    .swap-process-module__step
      .swap-process-module__step-head 

      .swap-process-module__step-body
        +h3('swap-process-module__step-title') 
          | Step 3

        span Receive the swapped coins in your wallet