.main-footer  {
  border-top: 1px solid #454545;
  padding-top: 50px;
  padding-bottom: 40px;
  background: #121212;

  .logo {
    margin-bottom: 16px;
  }

  .socials  {
    margin-top: 24px;
  }

  &__content-row {
    display: grid;
    grid-template-columns: 40.6% 1fr;
    gap: 112px;

    p {
      font-size: rem(14);
      font-style: normal;
      font-weight: 400;
      line-height: lh(24, 14);
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 92px;
    row-gap: 24px;
    height: fit-content;

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    li {
      display: block;

      a {
        display: block;
        color: #fff;
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .2s ease-in;

        &:hover {
          color: var(--accent);
        }
      }
    }
  }
}

.copy {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  color: #9B9B9B;
  font-size: rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  margin-top: -1px;
}

@media (max-width: 1090px) {

  .main-footer {
    &__menu {
      column-gap: 25px;
    }
  
    &__content-row {
      gap: 60px;
    }
  }

}

@media (max-width: 768px) {
  .main-footer {
    padding: 24px 0;

    &__content-row {
      grid-template-columns: 100%;
    }

    &__menu {
      grid-template-columns: 100%;

      ul li a {
        width: fit-content;
      }
    }

    &__content-row {
      gap: 18px;
    }

    .logo {
      margin-bottom: 18px;
    }

    .copy {
      margin-top: 24px;
      text-align: left;
      font-size: rem(12);
      line-height: lh(16, 12);
      word-break: break-all;
    }
  }
}