footer.main-footer 
  .container 
    .main-footer__inner 
      .logo 
        img(src="img/svg/logo.svg", alt="Eternos logo" width="155" height="40")

      .main-footer__content-row
        .main-footer__text
          p Swap between BTC, ETH, XMR, USDT and 300+ other cryptocurrencies. First exchange you can trust, no KYC, no account required. Best rates and lightning fast swaps.

          include ../../components/socials/socials

        .main-footer__menu
          ul
            li 
              a(href="/") Swap
            li 
              a(href="/how-works.html") How it works
            li 
              a(href="/contacts.html") Contacts
          ul
            li 
              a(href="/integrate.html") Integrate
            li 
              a(href="#") API

          ul
            li 
              a(href="/terms-of-service.html") Privacy Policy
            
            li 
              a(href="privacy-policy.html") Terms of Service
            

      .copy 
        span © 2023 eTERNOS. All rights reserved.
        span  eternostfvnfjgo5hqvmuzynak4kjl5tjs3j5zdabawe6n2aaebldad.onion