.exchanging-box  {
  border-radius: 20px;
  border: 2px solid #585858;
  backdrop-filter: blur(9.5px);

  overflow: hidden;
  max-width: 794px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .exchanging-box  {
    border-radius: 10px;
    margin-top: -8px;
  }
}