include ../../components/title/title
include ../../components/feature-row/feature-row

section.integrate-module.section
  +h2('center upper integrate-module__title')
    | integrate eternos

  +feature-row
    
  ul.logos-grid 
    li.logo-item 
      img(src="img/logos/1.webp", alt="#" width="173.117" height="61.1")
    li.logo-item 
      img(src="img/logos/2.webp", alt="#" width="224" height="63")
    li.logo-item 
      img(src="img/logos/3.webp", alt="#" width="250" height="56")
    li.logo-item 
      img(src="img/logos/4.webp", alt="#" width="195" height="63")
    li.logo-item 
      img(src="img/logos/5.webp", alt="#" width="170" height="63")
    li.logo-item 
      img(src="img/logos/6.webp", alt="#" width="179" height="63")
    li.logo-item 
      img(src="img/logos/7.webp", alt="#" width="212.46" height="49.546")
    li.logo-item 
      img(src="img/logos/8.webp", alt="#" width="223" height="63")